<% provide(:title, "Welcome") %>
<div id="content">
  <div class="banner banner-full jumbotron">
    <div class="wrap">
      <p>Thank you for registration. </p>
      <p>An confirmation is sent to your email <%= @user.email %></p>
      <p>Please check and verify you account</p>
    </div>
  </div>
</div>