/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

 @import "bootstrap";

 body {
  font-family: "brandon-grosteque", sans-serif;
  background: url('http://images5.alphacoders.com/394/394911.jpg');
  background-size: 100%;
}

.nav {
  padding: 10px 0;
  li {
    display: inline-block;
    border: none;
    a {
      font-size: 20px;
      color: black;

      &:hover {
        color: #3333ee;
      }
    }
  }
}

.navbar-inverse {
  background-color: white;
}

.brand {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("http://www.modgraphic.com/images/one%20book%20logo.png");
  margin: -10px 5px 5px 75px;
  height: 85px;
  width: 320px;
  display: block;
  text-indent: -1500px;
  overflow: hidden;
  position: absolute;
}

#content {
  margin-top: 200px;
}

#content1 {
  margin-top: 100px;
  text-align: center;
}

.jumbotron {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
}

h1, p {
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -5px;
}

.btn-large {
  font-size: 30px;
  font-weight: 500;
}

#new_user {
  display: inline-block;
}

input {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.hero-unit {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
  width: 450px;
  padding: 25px;
  border-radius: 10px;
  float: left;
  margin-left: 50px;
}

.hero-unit1 {
  background: none;
  color: blue;
  width: 700px;
  padding: 25px;
  border-radius: 10px;
  float: left;
  margin-left: 50px;
}

.container {
  width: 95%;
}
