@import "bootstrap";

$light_header: #62594f;
$dark_header: #5b4635;
$cart: #00a099;
$price: #f29100;
$add_light: #ffc400;
$add_dark: #fdb62b;

body {
  font-family: "OpenSans";
  background-size: 100%;
}

span {
  display: inline-block;
}

h1, p {
  text-align: left;
}

.container {
  width: 100%;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -5px;
}

.span6 {
  text-align: center;
  float: left;
  width: 20%;
  img {
    width: 70%;
  }
}

.span2 {
  float: left;
  width: 62%;
}

.span7 {
  float: left;
  width: 15%;
}

.clear {
  clear: both;
}

a, a:hover, a:visited {
  text-decoration: none !important;
}

.dropdown-menu {
  left: 20px;
}

.content {
  margin: 30px;
}

.wrap {
  width: 1430px;
  h1,a,p {
    text-align: center;
  }
}

// header
// .........

.btn-group {
  width: 32%;
  margin-right: 1%;
}

#cart-render {
  width: 20%;
}

.has_arrow_down {
  background: image_url('arrow-down.png') no-repeat;
  background-position: right 10px;
}

.navbar-search {
  position: fixed;
  width: 100%;
  top: 80px;
  background: $light_header;
  height: 70px;
  z-index: 100;
}

.navbar-inverse {
  background: image_url('banner.jpg');
  border: none;
  height: 80px;
}

.nav {
  margin: 20px 150px 10px 10px;
  li {
    display: inline-block;
    border: none;
    a {
      font-size: 14px;
      font-weight: bold;
      color: black;

      &:hover {
        background: none;
      }


    }
    .has_arrow_down {
      padding-right: 30px;
      &:hover {
        background: image_url('arrow-down.png') no-repeat;
        background-position: right 10px;
      }
    }
  }
}



.brand {
  width: 316px;
  font-size: 38px;
  font-weight: 800;
  margin: 25px 0 0 162px;
  display: block;
  position: absolute;
  .white { color: white }
  .black { color: black }
  &:hover {
    text-decoration: none;
    background: none
  }
}

#search-top {
  padding: 8px;
  display: inline-block;
}

input#search {
  width: 500px;
  padding: 8px 200px 10px 20px;
  margin-left: 140px;
  border: 1px solid black;
  border-radius: 0;
}

#search-button {
  width: 36px;
  height: 36px;
  background: $add_light;
  background-position: center;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
  i {
    font-size: 20px;
    line-height: 140%;
    color: white;
  }
}

#search-top-category {
  position: absolute;
  padding: 8px 0px 10px 10px;
  left: 500px;
  width: 200px;
  border: 1px solid black;
  border-radius: 0;
}

.navbar {
  border-radius: 0;
}

#category-search {
  position: absolute;
  top: 13px;
  padding: 10px 30px 10px 10px;
  left: 440px;
  width: 200px;
  text-transform: lowercase;
  span {
    white-space: nowrap;
    overflow: hidden;
    width: 160px;
  }
  &:hover {
    color: inherit;
    text-decoration: none;
    background: none;
    background: image_url('arrow-down.png') no-repeat;
    background-position: right 10px;
  }
}

#search-menu {
  top: 42px;
  left: 451px;
  width: 200px;
  border-top: none;
  border-radius: 0;
  padding: 11px;
  font-size: 12px;
}

#category-select {
  font-weight: normal;
  font-size: 14px;
  margin-left: 20px;
  text-align: left;
  background: $dark_header;
  width: 100%;
  padding: 10px 40px;
  border: none;
  border-radius: 0;
  color: white;
}

#categories-menu {
  padding-top: 0;
  border-radius: 0;
  width: 100%;
  padding-right: 30px;
  li {
    border-right: 1px solid $add_light;
    border-top: 1px dotted gray;
    a {
      padding: 20px;
    }
    &.selected {
      padding: 20px;
      background: #ffee99;
    }
  }
}

.glyphicon-chevron-down {
  position: absolute;
  display: inline-block;
  text-align: right;
  top: 13px;
  right: 10px;
}

//..............
// cart
#cart {
  margin-left: 23px;
  padding: 14px;
  width: 100%;
  background: $cart;
  border: none;
  border-radius: 0;
  color: white;
  .glyphicon-chevron-down {
    top: 25px;
  }
}

.circle {
  width: 34px;
  height: 34px;
  background: $add_light;
  color: $cart;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
}

#cart-menu {
  padding: 12px 0 12px 0;
  background: #00a099;
  border: none;
  border-radius: 0;
  left: 23px;
  top: 60px;
  width: 100%;
  li {
    padding: 5px 12px 0 12px;
  }
  span {
    color: white;
    font-size: 10px;
    &.big {
      font-size: 15px;
    }
  }
  .total {
    background: #008877;
    span {
      color: $add_light;
    }
  }
  .title {
    width: 200px;
  }
  .amount {
    width: 25px;
    text-align: right;
  }
  .price {
    width: 100px;
    text-align: right;
  }
  .button-group {
    padding: 30px 20px 20px 20px;
    a {
      margin-left: 20px;
    }
    .adjust1 {
      width: 100px;
    }
    .buttona {
      font-size: 14px;
    }
  }
}

//.........

// page head

.alert {
  position: absolute;
  top: 200px;
  left: 130px;
  width: 700px;
}

.alert-notice { background: #ccffcc; }
.alert-error { background: #ffcccc; }

.page-head {
  margin: 40px 0 40px 0;
  text-align: left;
  color: $add_dark;
  display: block;
}

.page-head-title {
  font-size: 17px;
  font-weight: bold;
  width: 40%;
}

#choose-per-page {
  font-size: 14px;
  font-weight: normal;
  width: 30%;
  select {
    padding: 10px;
    border-radius: 0;
    color: black;
  }
}

.adjust {
  width: 1250px;
}

//............

//content books

#content1 {
  margin: 100px 50px 0 90px;
}

.jumbotron {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
}

#show-books {
  padding: 0;
  list-style: none;
  width: 100%;
  display: block;
  li {
    width: 372px;
    margin-right: 1%;
    height: 500px;
    overflow: hidden;
    text-align: left;
    border-right: 1px dotted gray;
    .book-title {
      font-size: 17px;
      font-weight: normal;
      a {
        color: $add_light;

        &:hover {
          color: $add_dark;
          background: none;
          text-decoration: none;
        }

      }

    }
    .book-author {
      margin-top: -9px;
      font-size: 14px;
      font-weight: normal;
    }
    .book-description {
      font-size: 12px;
      font-weight: normal;
      height: 90px;
      overflow: hidden;
      text-align: justify;
      width: 80%;
    }
    .book-price {
      margin-top: 20px;
      font-size: 17px;
      font-weight: bold;
      color: $add_dark;
      .price {
        width: 190px;
      }
    }
  }
}

#change-per-page {
  display: inline-block;
}



.buttona {
  right: 0;
  width: auto;
  height: 30px;
  color: white !important;
  font-size: 14px;
  padding: 15px;
  background: linear-gradient(to bottom, $add_light, $add_dark) !important;
  border: none !important;
  border-radius: 0 !important;
  &:visited {
    color: white !important;
  }
}

#adjust-no-result {
  padding: 20px 20px 380px 8px;
}

//..........

//show a book

.info {
  margin-top: 40px;
  width: 100%;
  p {
    font-size: 13px;
  }
  .book-title {
    color: $add_light;
    font-weight: bold;
  }
  .book-author {
    font-size: 15px;
  }
  .book-description {
    height: 60px;
    overflow: hidden;
  }
  .book-price {
    width: 100%;
    height: 200px;
    background: radial-gradient(white, lightgray);
    margin-top: 60px;
    border-radius: 10px;
    padding:20px;
    p {
      text-align: center;
    }
    .price {
      font-size: 30px;
      color: $add_light;
    }
    .button-cart {
      margin-top: 25px;
    }
    .sale {
      margin: 2px 0;
      font-size: 15px;
    }
  }
  .publish {
    font-style: italic;

  }
}

.rate-count {
  color: $add_light;
}

.add-comment {
  margin-top: 30px;
  padding: 30px;
  border-top: 1px dotted lightgray;
  border-bottom: 1px dotted lightgray;
  textarea {
    width: 100%;
    height: 100px;
  }
  span {
    width: 95%;
  }
  a {
    color: $cart;
    text-decoration: underline;
    &:hover {
      color: $cart;
      background: none;
    }
  }
  .buttona {
    border: none;
    border-radius: 0;
    padding: 7px 10px 10px 8px;
  }
}

.show-comment {
  padding: 30px;
}

.title {
  color: $add_light;
  font-size: 15px;
  font-weight: bold;
}

.btn-large {
  font-size: 30px;
  font-weight: 500;
}

#new_user {
  display: inline-block;
}

input {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #c9d0d6;
}

.hero-unit {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
  width: 450px;
  padding: 25px;
  border-radius: 10px;
  float: left;
  margin-left: 50px;
}

.hero-unit1 {
  background: none;
  color: blue;
  width: 700px;
  padding: 25px;
  border-radius: 10px;
  float: left;
  margin-left: 50px;
}

.pagination {
  margin: 0 30px 0 0;
}

.comments {
  list-style: none;
  padding: 0;
  .comment {
    border-bottom: 1px dotted lightgray;
    padding: 10px 0;
    .comment-title {
      color: $add_light;
      font-size: 14px;
      font-weight: normal;
    }
    .comment-content {
      font-size: 12px;
    }
    .comment-submitted {
      font-size: 12px;
      color: gray;
    }
  }
}



// .................

//footer

footer {
  background: $light_header;
  color: white;
  position: absolute;
  left: 0;
  width: 1920px;
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  #main-footer {
    padding: 10px 150px;
    list-style: none;
    height: 80px;
  }
}

#invitation {
  float:left;
  width: 60%;
  font-size: 14px;
  font-weight: normal;
}

#social {
  float:left;
  width: 40%;
}

#copyright {
  padding: 10px 150px;
  background: $dark_header;
  font-size: 12px;
  font-weight: normal;
}

//.............

//register
.jumbotron {
  .title1 {
    color: $cart;
  }
  .guide {
    font-size: 12px;
  }
  .form-div {
    margin: 25px 0;
    border: 1px solid lightgray;
    background: #eee;
    width: 760px;
    p {
      font-size: 15px;
    }
  }

  .form-div-title {
    width: 100%;
    padding: 20px;
    background: gray;
    color: white;
    font-size: 13px;
    font-weight: bold;
  }

  .form-div-content {
    padding: 5px 30px 30px 20px;
    input {
      width: 500px;
    }
    input[type="checkbox"] {
      width: 10px;
    }
  }

  label {
    width: 180px;
    font-size: 12px;
    font-weight: normal;
  }

  .field_with_errors {
    padding: 0;
    display: inline-block;
    background: none;
    label {
      color: red;
    }
  }

  #error_explanation {
    margin-left: 25px;
    ul {
      margin-left: 15px;
      padding: 10px;
    }
  }

  .btn-sign {
    width: 100px;
    height: 50px;
    margin: 25px 0;
    background: $cart;
    border: none;
    border-radius: 0;
  }

  .no-width-restrict {
    width: auto !important;
    background: linear-gradient(-90deg, #8b9297, #484d51);
  }

  .adjust-height {
    height: 120px;
  }

  .buttons {
    div {
      display: inline-block;
    }
  }
}

//.............
//order

.cancel {
  margin: 25px 0;
  width: 650px;
  a, a:visited {
    color: $cart;
  }
}

.visible {
  display: block;
}

.adjust-menu {
  width: 1300px;
}

.div-order {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.div-order-item {
  margin: 30px 0;
  padding: 10px;
  border: 1px solid lightgray;
  span.price-total {
      color: $cart;
    }
  .order-detail {
    width: 300px;
    vertical-align: top;
    display: inline-block;
    h3 {
      line-height: 0;
      font-size: 17px;
    }
    h4 {
      font-size: 15px
    }
    p {
      font-size: 14px;
    }
  }
  .order-books {
    list-style: none;
    width: 1200px;
    display: inline-block;
    .book-item {
      padding: 5px;
      &:nth-child(odd) { background: #eeeeee }
      &:nth-child(even) { background: white }
    }
    .book-detail {
      width: 50%;
      .title,.author {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: normal;
      }
    }
    .book-count {
      width: 10%;
    }
    .price-total {
      width: 35%;
      text-align: right;
    }
  }
}

//..................
//checkout cart
.cart-top {
  margin: 30px 30px 30px 0;
  .title {
    font-size: 15px;
    color: $add_light;
    width: 1350px;
  }
  .link a {
    font-size: 13px;
    color: $cart;
  }
  .cancel {
    width: 1280px;
    a {
      font-size: 14px;
      color: $cart;
    }
  }
}

.cart-div {
  border: 1px solid lightgray;
  margin: 30px 30px 30px 0;
  padding: 0;
  list-style: none;
  li {
    padding: 10px 20px;
  }
  .detail {
    width: 800px;
    display: inline-block;
  }
  div.quantity {
    padding-bottom: 15px;
  }
  .quantity {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    input {
      width: 50px;
      border-radius: 0;
    }
  }

  .price {
    display: inline-block;
    width: 300px;
    text-align: right;
    h3 {
      color: $cart;
      font-size: 17px;
    }
  }

  .cart-div-title {
    width: 100%;
    padding: 20px;
    background: gray;
    color: white;
    font-size: 13px;
    font-weight: bold;
  }

  .cart-item {
    h3 {
      line-height: 0;
      font-size: 13px;
      text-transform: uppercase;
      padding: 0;
    }
    .cart-title {
      color: $add_dark;
    }
    &:nth-child(odd) {
      background: #eeeeee;
    }
    &:nth-child(even) {
      background: #fdfdfd;
    }
  }
  .subtotal,.delivery,.total{
    font-size: 18px;
    .price {
      color: $add_light;
    }
  }
  .subtotal {
    border-bottom: 1px dotted #dddddd;
  }
  .total > .price {
    font-size: 20px;
  }
}

.edit_order_line {
  display: inline-block;
}

//..............
//breadcrumb

.breadcrumbs {
  margin-top: 20px;
}

//.............
//responsive

@media (max-width: 1580px) {
  #cart-render {
    width: 500px;
    margin-left: 125px;
    margin-top: 2px;
  }
  #search-top {
    margin-top: 7px;
  }
  .navbar-search {
    height: 150px;
  }
  .breadcrumbs {
    margin-top: 120px;
  }
  .span6 {
    width: 400px;
  }
  .span2 {
    width: 800px;
  }
  .span7 {
    width: 400px;
  }
}

@media (max-width: 1270px) {
  .btn-group {
    width: 500px;
    margin-left: 128px;
    margin-top: -7px;
  }
  .navbar-search {
    height: 180px;
  }
  .breadcrumbs {
    margin-top: 150px;
  }
  #choose-per-page {
    display: none;
  }
}

@media (max-width: 750px) {
  #search-button {
    display: none;
  }
  .pagination {
    display: none;
  }
}

