@import "bootstrap";

$light_header: #62594f;
$dark_header: #5b4635;
$cart: #00a099;
$price: #f29100;
$add_light: #ffc400;
$add_dark: #fdb62b;

body {
  font-family: "OpenSans";
  background-size: 100%;
}

span {
  display: inline-block;
}

h1, p {
  text-align: left;
}

// header
// .........
.has_arrow_down {
  background: image_url('arrow-down.png') no-repeat;
  background-position: right 10px;
}

.navbar-search {
  position: fixed;
  width: 100%;
  top: 80px;
  background: $light_header;
  height: 70px;
}

.navbar-inverse {
  background: image_url('banner.jpg');
  border: none;
  height: 80px;
}

.nav {
  margin: 20px 150px 10px 10px;
  li {
    display: inline-block;
    border: none;
    a {
      font-size: 14px;
      font-weight: bold;
      color: black;

      &:hover {
        background: none;
      }


    }
    .has_arrow_down {
      padding-right: 30px;
      &:hover {
        background: image_url('arrow-down.png') no-repeat;
        background-position: right 10px;
      }
    }
  }
}



.brand {
  font-size: 38px;
  font-weight: 800;
  margin: 25px 0 0 150px;
  display: block;
  position: absolute;
  .white { color: white }
  .black { color: black }
  &:hover {
    text-decoration: none;
    background: none
  }
}

#search-top {
  padding: 8px;
  display: inline-block;
}

input#search {
  width: 500px;
  padding: 8px 200px 10px 20px;
  margin-left: 140px;
  border: 1px solid black;
  border-radius: 0;
}

#search-button {
  width: 36px;
  height: 36px;
  background: $add_light;
  background-position: center;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  i {
    font-size: 20px;
    line-height: 140%;
    color: white;
  }
}

#search-top-category {
  position: absolute;
  padding: 8px 0px 10px 10px;
  left: 500px;
  width: 200px;
  border: 1px solid black;
  border-radius: 0;
}

.navbar {
  border-radius: 0;
}

#category-search {
  position: absolute;
  top: 13px;
  left: 500px;
  padding: 10px 30px 10px 10px;
  &:hover {
    color: inherit;
    text-decoration: none;
    background: none;
    background: image_url('arrow-down.png') no-repeat;
    background-position: right 10px;
  }
}

#category-select {
  font-weight: normal;
  font-size: 14px;
  margin-left: 20px;
  text-align: left;
  background: $dark_header;
  width: 600px;
  padding: 10px 40px;
  border: none;
  border-radius: 0;
  color: white;

}

.glyphicon-chevron-down {
  position: absolute;
  display: inline-block;
  text-align: right;
  top: 13px;
  right: 10px;
}

#cart {
  margin-left: 23px;
  padding: 14px;
  width: 350px;
  background: $cart;
  border: none;
  border-radius: 0;
  color: white;
  .glyphicon-chevron-down {
    top: 25px;
  }
}

.circle {
  width: 34px;
  height: 34px;
  background: $add_light;
  color: $cart;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
}

//.........

// page head
.page-head {
  margin: 20px 0 0 125px;
  text-align: left;
  color: $add_dark;
}

.page-head-title {
  font-size: 17px;
  font-weight: bold;
  width: 900px;
}

#choose-per-page {
  font-size: 14px;
  font-weight: normal;
  width: 450px;
}

//............

//content books

#show-books {
  margin: 20px 170px 10px 80px;
  list-style: none;
  width: 90%%;
  display: block;
  li {
    width: 20%;
    margin-right: 5%;
    height: 500px;
    overflow: hidden;
    text-align: left;
    border-right: 1px dotted gray;
    .book-title {
      font-size: 17px;
      font-weight: normal;
      color: $add_light;
    }
    .book-author {
      margin-top: -9px;
      font-size: 14px;
      font-weight: normal;
    }
    .book-description {
      font-size: 12px;
      font-weight: normal;
      height: 90px;
      overflow: hidden;
      text-align: justify;
      width: 80%;
    }
    .book-price {
      margin-top: 20px;
      font-size: 17px;
      font-weight: bold;
      color: $add_dark;
      .price {
        width: 150px;
      }
      a {
        right: 0;
        width: 60px;
        height: 30px;
        color: white;
        font-size: 14px;
        padding: 15px;
        background: linear-gradient(to bottom, $add_light, $add_dark);
      }
    }
  }
}



#content1 {
  margin-top: 100px;
  text-align: center;
}

.jumbotron {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
}



h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -5px;
}

.btn-large {
  font-size: 30px;
  font-weight: 500;
}

#new_user {
  display: inline-block;
}

input {
  width: 100%;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.hero-unit {
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.9);
  width: 450px;
  padding: 25px;
  border-radius: 10px;
  float: left;
  margin-left: 50px;
}

.hero-unit1 {
  background: none;
  color: blue;
  width: 700px;
  padding: 25px;
  border-radius: 10px;
  float: left;
  margin-left: 50px;
}

.container {
  width: 95%;
}

// .................

//footer

footer {
  background: $light_header;
  color: white;
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  #main-footer {
    padding: 10px 150px;
    list-style: none;
    height: 80px;
  }
}

#invitation {
  float:left;
  width: 60%;
  font-size: 14px;
  font-weight: normal;
}

#social {
  float:left;
  width: 40%;
}

#copyright {
  padding: 10px 150px;
  background: $dark_header;
  font-size: 12px;
  font-weight: normal;
}