<% provide(:title, "Category #{ @category }") %>
<div id="content1">
  <div class="jumbotron">
    <%= will_paginate @books %>
    <ul>
    <%= render @books %>
    </ul>
    <%= will_paginate @books %>
  </div>
</div>